
html {
    margin-inline-start: auto;
    margin-inline-end: auto;
    background-color: rgb(5, 100, 117);
    text-align: center;
    
}

header {
    color: white;
}

body {
    font-family: roboto;
}

thead {
    background-color: white;
}

/* td {
    background-color: white;
} */

tr {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(5, minmax(10%, 1fr));
    place-items: center;
    gap: 30px;
    padding: 2rem 2rem;
}

tr.row {
    background-color: rgb(248, 103, 50);
    color: white;
}

.icons {
    display: flex;
    margin: 2rem;
}

.icons__image {
    width: 20px;
    height: 20px;
}

img {
    border-radius: 50%;
}


article {
    background-color: whitesmoke;
    border: steelblue solid 5px;
    width: 30%;
    position: fixed;
    top: 50%;
    left: 35%;
    height: 20%;
    right: 0;
    bottom: 50%;
    padding: 3rem;
    

}

.confirm_buttom {
    background-color: brown;
    color: white;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 5px;
}

.button__cancel, .button__save {
   background-color: rgb(226, 43, 220);
   border-radius: 5px;
   padding: 0.5rem;
   color: white;
}

form {
    width:  30%;
    opacity: 0.8;
    background-color: rgb(233, 200, 233, 0.5);
    border: turquoise 3px solid;
    height: 50%;
    position: fixed;
    top: 30%;
    left: 20%;
    right: 0;
    bottom: 50%;
    padding: 2rem;
}

input {
    padding: 0.5rem;
    opacity: 1;
}



