
html {
    margin-inline-start: auto;
    margin-inline-end: auto;
    background-color: rgb(5, 100, 117);
    text-align: center;
    
}

header {
    color: white;
}

body {
    font-family: roboto;
}

thead {
    background-color: white;
}

tr {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(5, minmax(300px, 1fr));
    place-items: center;
    gap: 30px;
    padding: 2rem 2rem;
}

.icons {
    display: flex;
    margin: 2rem;
}

.icons__image {
    width: 20px;
    height: 20px;
}

