
html {
    background-color: #D8EEFE;
    text-align: center;
    
}


.edit {
    background-color: transparent;
    border: transparent;
    margin-inline-end: 1rem;
    background-image: url('./assets/edit-icon.png');
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 1rem;
    margin-inline-start: 2rem;

}

.birthday, .days {
    color: #5F6C7B;;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

}

body {
    padding: 0;
    margin: 0;
    max-width: 1440px;
    max-height: 2724px;
    margin-inline-start: auto;
    margin-inline-end: auto;

}

.Title {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 76px;
    font-family: Rubik;
    color: #094067;
    text-align: start;
    margin-inline-start: 5%;
    margin-block-start: 2rem;
   
}

.label__input {
    font-family: Rubik;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.33px;
    color: #094067;
    margin-inline-start: -4rem
}

nav {
    width: 100%;
    
}

.head {
    background-color: white;
    width: 100%;
}

.close {
    cursor: pointer;
}

li {
    background-color: #ffff;
    margin-top: 1rem;
    width: 80%;
    place-items: center;
    /* display: flex; */
    gap: 5%;
    padding: 1rem 2rem;
    list-style: none;
    
  
}

.icons {
    display: flex;
    margin: 2rem;
    
    
}

.icons__image {
    width: 20px;
    height: 20px;
}

img {
    border-radius: 10px;
    /* width: 100%; */
    
}




tr:hover {
    background-color: rgba(90, 187, 209, 0.5);
}

.confirm_buttom {
    background-color: #EF4565;
    color: white;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.button__save {
   background-color: #EF4565;
   border-radius: 5px;
   padding: 0.5rem;
   padding-left: 2rem;
   padding-right: 2rem;
   color: white;
   cursor: pointer;
}

.button__cancel {
   background-color: white;
   border-radius: 5px;
   padding: 0.5rem;
   padding-left: 2rem;
   padding-right: 2rem;
   cursor: pointer;
   

}



.edit-input, .add_input {
    padding: 0.5rem;
    opacity: 1;
    width: 70%;
    background-color: #D8EEFE;
    border: none;
    
}

.delete {

    background-color: transparent;
    border: transparent;
    margin-inline-end: 1rem;
    background-image: url('./assets/red-delete-icon.png');
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 1rem;
    margin-left: 1rem;

}

.header__container {
    justify-content: space-between;
    margin-inline-start: 5%;
    margin-inline-end: 17%;
}

.add-people {
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 5px;
    color: white;
    background-color:#EF4565;
    text-transform: uppercase;
    border: none;
    margin-bottom: 1rem;
    margin-top: 1.75rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    cursor: pointer;
}

.age {
    color: #EF4565;
    font-size: 24px;
    font-weight: 700;
}

.popupadd, popupedit {
    color: black;
    margin-inline-start: auto;
    margin-inline-end: auto;
    background-color:  rgba(255, 255, 255, 0.8);
    width: 100%;

}

.add__button {
    padding: 0.5rem;
    background-color: #EF4565;
    color: white;
    border-radius: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
    cursor: pointer;
    
}

.main__page {
    margin-inline-end: 5%;
    margin-inline-start: 5%;
}

.fitering {
    width: 20%;
}

.hidden {
    display: none;
}

input {
    max-width: 100%;
}

input[type = "date"] {
    width: 70%;
}


.button__cancel {
    text-decoration: none;
    border: 1px solid gainsboro;

}

.close {
    text-decoration: none;
    background-color: white;
    padding: 0.5rem;
    border-radius: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
}

.container {
    position: relative;
    background-color: white;
    padding: 0.5rem;
    width: 89%;
}

.close1 {
    right: 1rem;
    position: absolute;
    background-color: transparent;
    border: none;
}

.name {
   font-family: Rubik;
   font-weight: 500; 
   font-size: 32px;
   line-height: 42.66px;
}

.namefilter,
.monthfilters {
  border: none;
  color: #094067;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.TitleEdite {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 57px;
    color: #094067;
}

.popupedit, .popupadd {
   
    width:  100%;
    height: 100%;
    position: fixed;
    top: 10%;
    bottom: 30%;
    padding: 1rem;
    padding-top: 10%;  
    margin-top: -64px;     
    
}

.add__title {
    text-align: start;
    margin-inline-start: 8%;
}

.add__label {
    margin-inline-start: -12rem;
}

.namefilter {
    padding-right: 1rem;
    
}

.monthfilters {
   padding-right: 4rem;
}




@media(min-width: 600px) {
    .header__container {
        display: flex;
    }

    .add-people {
        padding-left: 2rem;
        padding-right: 2rem;
        border-radius: 5px;
        color: white;
        background-color:#EF4565;
        text-transform: uppercase;
        border: none;
        margin-bottom: 1rem;
        margin-top: 1.75rem;
    }

    

    
}

fieldset {
    width: 90%;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    
    color: #094067;
}

ul {
    padding-inline-start: 0;
}

article {
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    position: fixed;
    bottom: 0%;
    padding: 3rem;
    height: 100%;
    

}

.confirme {
    background-color: white;
    width: 50%;
    padding: 3rem;
    text-align: center;
    left: 20%;
    position: fixed;
    top: 50%;
    font-family: RubiK;
    border-radius: 5px;
    
}

.close2 {
    background-color: transparent;
    border: none;
    right: 1rem;
    position: absolute
}

.popupedit {
    background-color: rgba(255, 255, 255, 0.8);
}

@media(min-width: 800px) {
    fieldset {
       width: 50%;
       font-family: Rubik;
       font-style: normal;
       font-weight: 500;
       font-size: 18px;
       line-height: 21px;
       
       color: #094067;
   }

   .TitleEdite {
       text-align: start;
       margin-inline-start: 8%;
   }

   .button-sub {
      text-align: start;
      margin-inline-start: 8%;
   }

   .edit__label {
      text-align: start;
      margin-inline-start: -55%;
   }

 

 
}

@media(min-width: 600px) {
    li {
        display: flex;
        justify-content: space-between;
    }
}












