
html {
    margin-inline-start: auto;
    margin-inline-end: auto;
    background-color: #D8EEFE;
    text-align: center;
    
}


.edit {
    background-color: transparent;
    border: transparent;
    margin-inline-end: 1rem;
    background-image: url('./assets/icon_edit.png');
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 1rem;

}



body {
    font-family: roboto;
    margin-inline-start: auto;
    margin-inline-end: auto;
    max-width: 100%;
    width: 1444px;

}

h1 {
   font-family: Rubik;
   color: #094067;
   font-weight: bold;
   font-size: 40px;
   line-height: 76px;
}

table {
    max-width: 100%;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

thead {
    background-color: white;
}


tr {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(5, minmax(10%, 1fr));
    place-items: center;
    gap: 10%;
    padding: 2rem 2rem;
}

tr.row {
    background-color: #ffff;
    margin-top: 1rem;
}

.icons {
    display: flex;
    margin: 2rem;
    
}

.icons__image {
    width: 20px;
    height: 20px;
}

img {
    border-radius: 50%;
    width: 100%;
    
}


article {
    background-color: whitesmoke;
    border: steelblue solid 5px;
    width: 200px;
    position: fixed;
    top: 50%;
    left: 30%;
    height: 20%;
    right: 0;
    bottom: 50%;
    padding: 3rem;
    

}

tr:hover {
    background-color: rgba(90, 187, 209, 0.5);
}

.confirm_buttom {
    background-color: brown;
    color: white;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 5px;
}

.button__save {
   background-color: #EF4565;
   border-radius: 5px;
   padding: 0.5rem;
   padding-left: 2rem;
   padding-right: 2rem;
   color: white;
}

.button__cancel {
   background-color: white;
   border-radius: 5px;
   padding: 0.5rem;
   padding-left: 2rem;
   padding-right: 2rem;
   

}

.popupedit, .popupadd {
    width:  400px;
    background: #f1f5f8;
    height: 50%;
    position: fixed;
    top: 30%;
    left: 35%;
    right: 50%;
    bottom: 50%;
    padding: 2rem;
    
}

.edit-input, .add_input {
    padding: 0.5rem;
    opacity: 1;
    width: 70%;
    background-color: #D8EEFE;
    border: none;
    
}

.delete {

    background-color: transparent;
    border: transparent;
    margin-inline-end: 1rem;
    background-image: url('./assets/delete.png');
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 1rem;

}

.header__container {
    justify-content: space-between;
    margin-inline-start: 5%;
    margin-inline-end: 5%;
}

.add-people {
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 5px;
    color: white;
    background-color:#EF4565;
    text-transform: uppercase;
    border: none;
    margin-bottom: 1rem;
    margin-top: 1.75rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.popupadd {
    background-color: #f1f5f8 ;
    color: white;
    margin-inline-start: auto;
    margin-inline-end: auto;
    left: 30%;
    right: 50%;

}

.add__button {
    padding: 0.5rem;
    background-color: #EF4565;
    color: white;
    border-radius: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
    
}

.main__page {
    margin-inline-end: 5%;
    margin-inline-start: 5%;
}

.fitering {
    width: 20%;
}

.hidden {
    display: none;
}

input {
    max-width: 100%;
}

input[type = "date"] {
    width: 70%;
}


.button__cancel {
    text-decoration: none;
    border: 1px solid gainsboro;

}

.close {
    text-decoration: none;
    background-color: white;
    padding: 0.5rem;
    border-radius: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
}

.container {
    background-color: white;
    padding: 2rem;
}

.name {
    font-weight: 700;
    font-size: 24px
}

.namefilter,
.monthfilters {
  border: none;
  color: #094067;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media(min-width: 600px) {
    .header__container {
        display: flex;
    }

    .add-people {
        padding-left: 2rem;
        padding-right: 2rem;
        border-radius: 5px;
        color: white;
        background-color:#EF4565;
        text-transform: uppercase;
        border: none;
        margin-bottom: 1rem;
        margin-top: 1.75rem;
    }

    
}










